# HANGOUT Gitignore

# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Firebase-specific
.firebase/
firebase-debug.log*
.firebaserc # Uncomment if you want to keep this private, but usually shared in teams

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node dependencies
node_modules/
